.home {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  /* margin: 0 20px; */
  /* align-items: center; */
  flex-direction: column;
  background-image: url('/assets/hero-background.svg');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  height: 90vh;
  justify-content: space-around;
}

.main_hero {
  display: flex;
  align-items: center;
  padding-top: 3rem;
}

.main h1 {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main p {
  margin-top: 0;
  font-size: 20px;
}

.main_btn {
  padding: 1rem 3rem;
  color: white;
}

.main_btn .content {
  color: white;
}
.main_left {
  width: 50%;
  display: flex;
  justify-self: center;
  flex-direction: column;
  padding: 0 3rem;
  padding-left: 11rem;
}
.main_right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_img {
  height: 260px;
}

.main_footer {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_footer h2 {
  margin-bottom: 5px;
}

.main_footer ul {
  display: flex;
  list-style-type: none;
}

.main_footer ul li {
  margin-right: 50px;
}

.main_footer ul li p {
  font-size: 2rem;
}
.main_footer ul li span {
  font-size: 1.6rem;
}
