.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.navbar h2 {
  font-size: 2rem;
}
.navbar span {
  text-transform: uppercase;
  color: #e64522;
}

.buttons {
  display: flex;
  list-style-type: none;
}

.buttons li {
  font-size: 2rem;
  margin-right: 28px;
}
