@import '../../variables.modules.scss';
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  height: 60px;

  h2 {
    font-size: 2rem;
  }

  span {
    text-transform: uppercase;
    color: $primary-color;
  }

  .buttons {
    display: flex;
    list-style-type: none;

    li {
      font-size: 2rem;
      margin-right: 28px;
      
      a:hover {
        color: $nav-item-hover-color;
      }
    }
  }

}
