@import '../../variables.modules.scss';

.btn {
  background: $primary-color;
  border: $primary-color-dark;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 500px;
  &:hover {
    background: $primary-color-dark;
  }
}
